# configuration for armagetronad rc scripts

# The defaults assume that you want to run as user armagetronad
# and store the variable files in /var/log and /var/run where it needs
# to have the appropriate writing rights.
# The alternative, commented configuration assumes you want to run
# the processes as whoever runs the init scripts ( usually root, so
# this is only recommended for testing ).


# user to run as

user=armagetronad
#user=$USER

# directories for variable data, defaults to
# /usr/var/armagetronad
# Warning: this directory will be chowned to the user running the server. 
# Don't make it simply / or /var or anything other processes need to access.

#VARDIR=/usr/var/armagetronad
#VARDIR=$HOME/./armagetronad

# directories for PID files and logs
PIDDIR=/usr/var/run
LOGDIR=/usr/var/log

# alternatives, the previous default
#PIDDIR=$VARDIR/run
#LOGDIR=$VARDIR/log

# arguments the server will be called with

server_args=""

# niceness level of the servers.
# Be aware that a too low niceness level will make the server take away
# processing time from the network scheduler of the kernel, which is not
# what you want.

niceness_level=-2
